---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Context from "../components/Context.astro";
---

<Layout title="Welcome to Astro.">
  <img
    src="/background.webp"
    alt="Background"
    class="fixed top-0 left-0 -z-10 w-full h-[100dvh] object-cover animate-fade-in animate-duration-1000 animate-delay-1000"
  />
  <img
    id="girl"
    src="/girl.webp"
    alt="Girl"
    class="fixed -z-10 lg:z-10 top-0 left-0 w-3/4 sm:w-1/2 h-[100dvh] object-contain object-bottom drop-shadow-big"
  />

  <Hero />

  <Context />

  <div class="h-[1000px]"></div>
</Layout>

<style>
  #girl {
    transform: translateX(-100%);
    animation: slide 1000ms ease-in-out forwards 1000ms;
  }

  @keyframes slide {
    100% {
      transform: translateX(0);
    }
  }
</style>
