---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Title from "../components/Title.astro";
import Storytelling from "../components/Srotytelling.astro";
import Main from "../components/Main.astro";
import Form from "../components/Form.astro";
---

<Layout title="Welcome to Astro.">
  <img
    id="background"
    class="w-screen h-dvh object-cover object-top fixed top-0 left-0 -z-10"
    src="/background.webp"
    alt="Background"
  />
  <img
    class="interface w-screen lg:w-1/2 h-dvh object-contain absolute top-0 left-0 lg:left-[45vw] pointer-events-none mix-blend-screen"
    src="/interface-circle.gif"
    alt="interface blue circle"
  />
  <img
    id="girl"
    class="w-3/5 md:w-1/2 h-3/4 md:h-dvh object-contain object-left-bottom drop-shadow-big fixed bottom-0 pointer-events-none z-10"
    src="/girl.webp"
    alt="Girl"
  />
  <a href="#" class="interface w-[89px] h-[89px] fixed top-0 right-0 mix-blend-screen z-20">
    <img
      class="object-contain"
      src="/interface-box.gif"
      alt="interface box"
      width="89px"
      height="89px"
    />
  </a>

  <Hero />

  <Title />

  <Storytelling />

  <Main />

  <button
    id="info"
    class="font-medium h-10 border border-white/10 backdrop-blur px-4 flex items-center sticky w-fit bottom-10 left-10 z-10"
    >Apúntate pinchando aquí</button
  >

  <Form />
</Layout>

<style>
  #info,
  #background {
    opacity: 0;
    animation: fadeIn 1000ms ease-in-out forwards 1000ms;
  }

  #girl {
    transform: translateX(-100%);
    animation: slideRight 1000ms ease-in-out forwards 1000ms;
  }

  .interface {
    opacity: 0;
    animation: fadeIn 1000ms ease-in-out forwards 1000ms;
  }
</style>
