<div id="context" class="relative text-white p-4">
  <p class="text-7xl md:text-8xl lg:text-9xl font-bold whitespace-nowrap w-fit">
    Amanecer entre las ruinas, año 2077
  </p>
  <div class="w-full lg:w-[45%] lg:ms-[45%]">
    <p class="border border-white/10 backdrop-blur p-6 rounded-3xl mb-4">
      El cielo, una vez azul vibrante, ahora es un velo gris opaco. La tierra,
      antes fértil y verde, es un páramo agrietado y estéril. El aire, cargado
      de toxinas y partículas nocivas, es irrespirable sin máscara. La humanidad
      ha pagado un alto precio por su desmesurada explotación de los recursos
      naturales. En un búnker subterráneo, un grupo de científicos e ingenieros,
      llamados Los Guardianes, se aferra a la esperanza. Han dedicado años a
      desarrollar un plan para resucitar a la Tierra de las cenizas.
    </p>
    <p>Su proyecto: <strong>Ciudades Inteligentes</strong>.</p>
  </div>
</div>
