---
import GlassClrBox from "./GlassClrBox.astro";
---

<section id="faqs" class="lg:ms-[40vw] p-4">
  <GlassClrBox>
    <h2>Participación abierta para:</h2>
    <p>...</p>
    <ul>
      <li>Estudiantes de 1º y 2º de bachillerato de España.</li>
      <li>Estudiantes de ESO que tengan interés en estas disciplinas.</li>
    </ul>
    <p>
      ¡Es gratuito y pueden participar todos los alumnos que quieran de forma
      individual!
    </p>
    <h2>Premios:</h2>
    <div class="grid md:grid-cols-3 gap-10">
      <div>
        <img
          src="/1er-premio.webp"
          alt="Primer premio"
          width="256"
          height="256"
          loading="lazy"
          class="opacity-50 hover:opacity-100 transition-opacity"
        />
        <p>
          Primer premio: Nintendo Switch OLED y Kit Iniciación a la Electrónica.
        </p>
      </div>
      <div>
        <img
          src="/2o-premio.webp"
          alt="Primer premio"
          width="256"
          height="256"
          loading="lazy"
          class="opacity-50 hover:opacity-100 transition-opacity"
        />
        <p>
          Segundo premio: LogitechG G435 SE + Ratón gaming G305 SE LIGHTSPEED y
          Kit Iniciación a la Electrónica.
        </p>
      </div>
      <div>
        <img
          src="/3er-premio.webp"
          alt="Primer premio"
          width="256"
          height="256"
          loading="lazy"
          class="opacity-50 hover:opacity-100 transition-opacity"
        />
        <p>
          Tercer premio: Teclado mecánico Krom Kernel TKL y Kit Iniciación a la
          Electrónica.
        </p>
      </div>
    </div>
  </GlassClrBox>
</section>
