---
import GlassClrBox from "./GlassClrBox.astro";
---

<section id="faqs" class="lg:ms-[40vw] p-4">
  <GlassClrBox>
    <h2>Participación abierta para:</h2>
    <p>...</p>
    <ul>
      <li>Estudiantes de 1º y 2º de bachillerato de España.</li>
      <li>Estudiantes de ESO que tengan interés en estas disciplinas.</li>
    </ul>
    <p>
      ¡Es gratuito y pueden participar todos los alumnos que quieran de forma
      individual!
    </p>
    <h2>Premios: Por determinar...</h2>
  </GlassClrBox>
</section>
