<section
  id="form"
  class="bg-cyan-950/90 backdrop-blur py-10 px-10 lg:px-[25%] relative z-20"
>
  <script
    charset="utf-8"
    type="text/javascript"
    src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script is:inline>
    hbspt.forms.create({
      region: "na1",
      portalId: "6604339",
      formId: "1d1a533d-d2c1-4a67-bc53-ff3ee5e8afb5",
    });
  </script>
</section>
