<section
  class="bg-green-950/90 border border-green-50/25 backdrop-blur rounded-t-3xl mt-4 p-10 lg:ps-[40vw] lg:pe-[5vw] relative z-10 md:z-0 overflow-hidden isolate before:bg-[url('/form.gif')] before:bg-no-repeat before:bg-center before:bg-cover before:absolute before:inset-0 before:mix-blend-screen before:opacity-5 before:-z-10"
>
  <script
    charset="utf-8"
    type="text/javascript"
    src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script is:inline>
    hbspt.forms.create({
      region: "na1",
      portalId: "6604339",
      formId: "1d1a533d-d2c1-4a67-bc53-ff3ee5e8afb5",
    });
  </script>
</section>
