<section id="apuntate" class="bg-green-950/90 border border-green-50/25 backdrop-blur rounded-t-3xl">
  <div class="p-10 lg:ps-[50%]">
    <script
      charset="utf-8"
      type="text/javascript"
      src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script is:inline>
      hbspt.forms.create({
        region: "na1",
        portalId: "6604339",
        formId: "1d1a533d-d2c1-4a67-bc53-ff3ee5e8afb5",
      });
    </script>
  </div>
</section>
