<section
  id="form"
  class="bg-cyan-950/90 backdrop-blur mt-4 p-10 relative z-20 md:z-0"
>
  <script
    charset="utf-8"
    type="text/javascript"
    src="//js.hsforms.net/forms/embed/v2.js"></script>
  <script is:inline>
    hbspt.forms.create({
      region: "na1",
      portalId: "6604339",
      formId: "1d1a533d-d2c1-4a67-bc53-ff3ee5e8afb5",
    });
  </script>
</section>

<style>
  @media (min-width: 1024px) {
    section {
      padding-inline: calc(40vw + 16px) calc(5vw - 32px);
    }
  }
</style>
