---
interface Props {
  h?: boolean;
}

const {h} = Astro.props
---

<div
class:list={["glass lg:w-[55vw] overflow-y-auto bg-green-400/10 border border-green-50/25 backdrop-blur p-6 text-green-950 font-bold", {"h": h}]}
>
  <slot />
</div>

<style>
  @media (min-width: 768px) {
    .h {
      max-height: calc(100dvh - 144px);
    }
  }
</style>
