---
import EcoMission from "./icons/EcoMission.astro";
import FutureGenius from "./icons/FutureGenius.astro";
import Iberdrola from "./icons/Iberdrola.astro";
import Immune from "./icons/Immune.astro";
---

<section
  class="min-h-dvh lg:ms-[40vw] p-4 flex flex-col items-center justify-center gap-4 relative z-40"
>
  <div>
    <FutureGenius />
    <span
      class="font-accent bg-white text-[#F414A1] font-medium py-1 px-2 block mt-1"
      >22 ABRIL · ONLINE</span
    >
  </div>
  <div class="max-w-64 lg:max-w-96">
    <EcoMission />
    <h1 class="hidden">Future Genius - Eco Mission</h1>
  </div>
  <div class="flex items-center gap-5">
    <span class="max-w-36">
      <Iberdrola />
    </span>
    <span class="max-w-32">
      <Immune />
    </span>
  </div>
</section>

<img
  class="interface w-screen lg:w-1/2 h-dvh object-contain absolute top-0 left-0 lg:left-[45vw] pointer-events-none mix-blend-screen"
  src="/interface-circle.gif"
  alt="interface blue circle"
/>

<style>
  div:first-child {
    opacity: 0;
    transform: translatey(-24px);
    animation: fadeInY 1000ms ease-in-out forwards 1000ms;
  }

  div:nth-child(3) {
    opacity: 0;
    transform: translatey(24px);
    animation: fadeInY 1000ms ease-in-out forwards 1000ms;
  }
</style>
