<main
  id="main"
  class="page h-[100dvh] relative overflow-hidden isolate grid place-items-center z-20"
>
  <div
    class="bg-neutral-950/25 border border-white/10 backdrop-blur p-6 rounded-3xl mb-4 w-full"
  >
    <h2>¿A qué nos enfrentamos?</h2>
    <p>&nbsp;</p>
    <p>Proyecto: Ciudades Inteligentes...</p>
    <p>&nbsp;</p>
    <p>Retos:</p>
    <ul>
      <li>> Reto #1</li>
      <li>> Reto #2</li>
      <li>> Reto #3</li>
      <li>> Reto #4</li>
    </ul>
    <p>&nbsp;</p>
    <p>Premio: Nombre del premio</p>
    <p>&nbsp;</p>
    <p>Participación abierta a:</p>
    <ul>
      <li>> Estudiantes de 1º y 2º de bachillerato de España.</li>
      <li>> Estudiantes de ESO que tengan interés en estas disciplinas.</li>
      <li>> Reto #3</li>
      <li>> Reto #4</li>
    </ul>
    <p>&nbsp;</p>
    <p>
      ¡Es gratuito y pueden participar todos los alumnos que quieran de forma
      individual!
    </p>
  </div>
</main>
