<div
  class="interface fixed top-0 right-0 mix-blend-screen z-50 flex items-center gap-4"
>
  <a href="#form">Apúntate</a>
  <a href="#faqs">FAQs</a>

  <img
    id="top"
    class="object-contain cursor-pointer"
    src="/interface-box.gif"
    alt="interface box"
    width="89px"
    height="89px"
  />
</div>
