<section class="w-full lg:w-3/4 lg:ms-auto p-5 z-20">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="border bg-white/50 border-white backdrop-blur p-6 rounded-3xl md:row-span-2 lg:row-span-3">
            AQUÍ VA EL CONTEXTO
        </div>
        <div class="border bg-white/50 border-white backdrop-blur p-6 rounded-3xl lg:col-span-2">02</div>
        <div class="border bg-white/50 border-white backdrop-blur p-6 rounded-3xl">03</div>
        <div class="border bg-white/50 border-white backdrop-blur p-6 rounded-3xl">04</div>
        <div class="border bg-white/50 border-white backdrop-blur p-6 rounded-3xl">05</div>
        <div class="border bg-white/50 border-white backdrop-blur p-6 rounded-3xl">06</div>
    </div>
</section>