---
interface Props {
  full?: boolean;
}

const { full } = Astro.props;
---

<section
  class:list={[
    "relative w-full lg:w-3/4 lg:ms-auto flex flex-col items-center justify-center p-10 z-20",
    { "h-[100dvh]": full },
  ]}
>
  <slot />
</section>
