---
import GlassClrBox from "./GlassClrBox.astro";
---

<section class="lg:ms-[40vw] p-4">
  <GlassClrBox>
    <details class="cursor-pointer" name="history" open>
      <summary>Amanecer entre las ruinas</summary>
      <p>...</p>
      <p>
        El año es 2077. El cielo, una vez azul vibrante, ahora es un velo gris
        opaco. La tierra, antes fértil y verde, es un páramo agrietado y
        estéril. El aire, cargado de toxinas y partículas nocivas, es
        irrespirable sin máscara. La humanidad ha pagado un alto precio por su
        desmesurada explotación de los recursos naturales. En un búnker
        subterráneo, un grupo de científicos e ingenieros, llamados Los
        Guardianes, se aferra a la esperanza. Han dedicado años a desarrollar un
        plan para resucitar a la Tierra de las cenizas.
      </p>
    </details>
    <details class="cursor-pointer" name="history">
      <summary>El Nacimiento de Neo Arcadia</summary>
      <p>...</p>
      <p>
        La primera ciudad inteligente, Neo Arcadia, emerge de las ruinas como un
        oasis futurista. Sus domos translúcidos filtran el aire contaminado,
        purificándolo para que sea respirable. Los cultivos hidropónicos
        florecen bajo luz artificial, proporcionando alimento fresco y
        nutritivo. La energía renovable alimenta la ciudad, eliminando la
        dependencia de los combustibles fósiles.
      </p>
    </details>
    <details class="cursor-pointer" name="history">
      <summary>Un futuro incierto</summary>
      <p>...</p>
      <p>
        El camino hacia la recuperación es largo y desafiante. Los Guardianes
        saben que la supervivencia de la Tierra depende de su constante esfuerzo
        y vigilancia. Pero con cada nuevo árbol que brota y cada animal que
        regresa, la esperanza se fortalece. La historia de las ciudades
        inteligentes es un recordatorio de la capacidad humana para superar la
        adversidad. Es una oda a la ciencia, la cooperación y la voluntad
        inquebrantable de construir un futuro mejor.
      </p>
    </details>
  </GlassClrBox>
</section>
