---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
// Supports weights 200-700
import "@fontsource-variable/oswald";
// Supports weights 400-700
import "@fontsource-variable/sometype-mono";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-green-950 font-mono text-base text-neutral-50 px-10 overflow-x-hidden"
  >
    <slot />
    <script src="../scripts/main.js"></script>
  </body>
</html>

<style is:global>
  svg {
    @apply max-w-full h-auto;
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInY {
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }

  @keyframes slideRight {
    100% {
      transform: translateX(0);
    }
  }
</style>
